<mat-toolbar class="toolbar">

  <div
    class="brand"
    routerLink="/dashboard">

    <div class="brand-icon">

      <img
        src="icon.png"
        alt="Doc Converter Logo">

    </div>

  </div>

  <span class="spacer"></span>

  <div class="header-badges">

    <span class="badge">
      Secure
    </span>

    <span class="badge">
      Fast
    </span>

  </div>

  <button
    mat-button
    (click)="logout()">

    <mat-icon>
      logout
    </mat-icon>

    Logout

  </button>

</mat-toolbar>