<div class="page-container">
  <mat-card class="conversion-card">
    <div class="top-actions">
      <button
        mat-button
        routerLink="/dashboard">

        <mat-icon>
          arrow_back
        </mat-icon>

        Panel principal
      </button>
    </div>

    <div class="breadcrumb">
      Panel principal

      <mat-icon>
        chevron_right
      </mat-icon>

      {{ title }}
    </div>

    <div class="header">
      <div class="hero-icon">
        <mat-icon>
          description
        </mat-icon>
      </div>

      <h1>
        {{ title }}
      </h1>

      <p>
        {{ description }}
      </p>

      <div class="feature-badges">
        <span>
          Carga Segura
        </span>

        <span>
          Procesamiento Rápido
        </span>

        <span>
          Gratis
        </span>
      </div>
    </div>

    <ng-content />
  </mat-card>
</div>