.container {

padding: 40px;

mat-card {


max-width: 700px;

margin: auto;

padding: 24px;

display: flex;
flex-direction: column;
gap: 20px;


}
}

.spinner {

display: flex;
justify-content: center;
}
